{% extends "base.html" %}

{% block content %}

<!-- Introduction -->
<section class="intro" id="home">
  <h1 class="section_title section_title-intro">
    Hi, I am Luther
  </h1>
  <p class="section_subtitle section_subtitle-intro">web dev</p>
  <img class="intro_img" src="static/IMG.jpg" alt="my pic">
</section>


<!-- My projects -->
<section class="my_projects" id="projects">
  <h2 class="section_title section_title-project">What I'm doing</h2>
  <div class="projects">
    <div class="project">
      <h3>Web development</h3>
        <p>
        Full stack responsive websites.
        </p>
    </div>

    <div class="project">
      <h3>Android app development</h3>
      <p>
        I create Android apps using Android SDK with Kotlin.
      </p>
    </div>
    
    <div class="project">
      <h3>Python programming</h3>
      <p>
        I mainly use Python/Flask for web development.
      </p>
    </div>
  </div>
</section>


<!-- About me -->
<section class="about-me" id="about">
  <h2 class="section_title section_title-about">About me</h2>
  <p class="section_subtitle section_subtitle-about">android dev</p>
  <div class="about-me_body">
    <p>I'm a self taught web and android developer based in Johannesburg, SA.
        I'm a fast learner who is self motivated, able to learn new skills and 
        work on new projects with ease.</p>
  </div>
  <img class="me" src="static/IMG.jpg" alt="my pic">
</section>

{% endblock %}